<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form</title>

    <link rel="stylesheet" href=../static/css/style.css>
</head>
<body>
<h1>Register</h1>
<hr>
<form>
  <label>First name:</label><br>
  <input type="text"><br>
  <label >Last name:</label><br>
  <input type="text"><br><br>

    <label for="date">date of birth</label>
    <input type="date"><br>
     <label>Email:</label>:</label><br>
  <input type="email"><br>
     <label>Password:</label><br>
  <input type="password"><br>

       <button type="submit">register</button>
</form>


</body>
</html>
